# CircuitPython / MicroPython
settings.json          # contains WiFi SSID, possibly other secrets
*.pyc
__pycache__/
.DS_Store
*.log
bell_log_*.txt         # runtime log files
.code-workspace
.vscode/
.idea/

# Optional – if you ever generate them
*.mpysettings.json
src/settings.json
settings-sandsense.json
settings-obf.json
settings.toml
settings-obf.toml
